:root{
    --bg-color-dark: rgb(34, 37, 45);
    --bg-keyboard-dark: rgb(41,45,54);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.display {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    text-align: end;
    overflow-x: hidden;
    padding: 0px 25px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.calculator {
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    background-color: var(--bg-color-dark);
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5, 50px);
    gap: 10px;
    padding: 20px;
}
button {
    cursor: pointer;
    padding: 0;
    border-radius: 25%;
    font-size: 18px;
    font-weight: 600;
    border: 0px;
    background-color: rgb(39, 43, 51);
    box-shadow: 1px 1px 1px rgba(34, 37, 45, 0.3);
}
.night-light {
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.night-ligt-btn {
    height: 32px;
    width: 72px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(39, 43, 51);
    display: flex;
    justify-content: space-around;
}

#history {
    font-size: 16px;
    font-weight: 400;
}
#output-result {
    font-size: 42px;
    font-weight: 600;
}

p {
    color: rgb(255,255,255);
}
.btn-cyan {
    color: rgb(38, 244, 206);
}
.btn-red {
    color: rgb(215, 96,97);
}
.btn-white {
    color: rgb(255,255,255);
}
.calculator-footer {
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.line-gradient {
    height: 4px;
    width: 36%;
    border-radius: 4px;
    background-color: #474B52;
}
.calculator-input {
    background-color: var(--bg-keyboard-dark);
    border-radius: 20px;
}
.bx{
    color: white;
}

.calculator-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    position: relative;
    bottom: -10px;
}
.status-icons {
    display: inline-flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.calculator-hour{
    font-size: 12px;
}